* {
	margin: 5px 0;
	box-sizing: border-box;
}

body {
	background-color: #444444;
	color: white;
	padding: 100px; 	
}

label {
	display: block;
}

ul	{
	list-style-type: none;
}

li {
	margin: 10px 0px; 
}

div{
	margin: 7px 4px;
}


.results {
	border: 1px solid white;
	width: 500px;
	margin-top: 20px;
}

.inline {
	display: inline-block;
	width : 100px;
}

button[name="convert"] {
	display: block;
}



.term, .trans {
	
}